<div class="mb-3 bg-dark">
  {% for field in form %}
    <label for="{{ field.auto_id }}"
           class="form-label">{{ field.label }}</label>
    <input type="{{ field.field.widget.input_type }}"
           class="form-control"
           id="{{ field.auto_id }}" name="{{ field.html_name }}"
           {% if field.field.required %}required{% endif %}
           {% if field.errors %}class="is-invalid"{% endif %}>
    {% for error in field.errors %}
      <div class="alert alert-danger">
        {{ error|escape }}
      </div>
    {% endfor %}
  {% endfor %}
  {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
      {{ error|escape }}
    </div>
  {% endfor %}
</div>