# Security Warning! Do not commit this file to any VCS!
# This is a local file to speed up development process,
# so you don't have to change your environment variables.
#
# This is not applied to `.env.template`!
# Template files must be committed to the VCS, but must not contain
# any secret values.


# === General ===
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_ENV=development

# === Django ===
# Generate yours with:
# python3 -c 'from django.utils.crypto import get_random_string; print(get_random_string(50))'
SECRET_KEY=secret_key

# === Admin ===
# Variables are needed to create a superuser when starting the container
DJANGO_SUPERUSER_PASSWORD=task-manager
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@task-manager.com

# === Database ===
DJANGO_DATABASE_USER=task-manager
DJANGO_DATABASE_NAME=task-manager
DJANGO_DATABASE_PASSWORD=task-manager
DJANGO_DATABASE_HOST=db
DJANGO_DATABASE_PORT=5432

# === Email ===
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_password

# === Redis ===
REDIS_HOST=tasks-broker
REDIS_PORT=6379

# === Notifications ===
VAPID_PUBLIC_KEY=Vapid_Public_Key
VAPID_PRIVATE_KEY=Vapid_Private_Key
VAPID_ADMIN_EMAIL=admin@example.com
