{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Reset password" %}{% endblock %}
{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5 bg-dark">
          <div class="card-header">
            <h5>{% translate "Restore password" %}</h5>
          </div>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-primary">{% translate "Send link" %}
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
