{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Reset password" %}{% endblock %}
{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card bg-dark">
          <div class="card-body">
            <h2 class="card-title mb-4">{% translate "Restore password" %}</h2>
            {% if validlink %}
              <form method="post">
                {% csrf_token %}
                {% include "includes/form.html" %}
                <button type="submit" class="btn btn-primary mt-3">{% translate "Reset password" %}
                </button>
              </form>
            {% else %}
              <p class="card-text">{% translate "Reset password link invalid" %}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
