{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "User detail" %}{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">{{ user.email }}</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">{% translate "First name" %}</div>
            <div class="col-md-8">{{ user.first_name|default:{% translate "not set" as not_set %} }}</div>
          </div>
          <div class="row">
            <div class="col-md-4">{% translate "Last name" %}</div>
            <div class="col-md-8">{{ user.last_name|default:{{ not_set}} }}</div>
          </div>
          <div class="row">
            <div class="col-md-4">{% translate "Date of birth" %}</div>
            <div class="col-md-8">{{ user.profile.birthday|date:"d.m.Y"|default:{{ not_set }} }}</div>
          </div>
          <div class="row">
            <div class="col-md-4">{% translate "Profile photo" %}</div>
            <div class="col-md-8">
              {% if user.profile.image %}
                <img src="{{ user.profile.image.url }}"
                     alt="{{ user.username }}" class="img-thumbnail">
              {% else %}
                <p>{{ not_set }}</p>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">{% translate "coffee" %}</div>
            <div class="col-md-8">{{ user.profile.coffee_count }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
