{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Feedback" %}{% endblock %}
{% block content %}
  <div class="container">
    <form method="post" action="{% url 'feedback:feedback' %}"
          enctype="multipart/form-data" class="text-light">
      {% csrf_token %}
      <div class="mb-3">
        <label for="id_text" class="form-label">{{ form.text.label }}</label>
        <textarea class="form-control bg-dark text-light" id="id_text"
                  name="text" rows="5"
                  required></textarea>
        <div class="form-text">{{ form.text.help_text }}</div>
      </div>
      <div class="mb-3">
        <label for="id_email" class="form-label">{{ form.email.label }}</label>
        <input type="email" class="form-control bg-dark text-light"
               id="id_email"
               name="email"
               required>
        <div class="form-text">{{ form.email.help_text }}</div>
      </div>
      <div class="mb-3">
        <label for="id_files" class="form-label">{{ form.files.label }}</label>
        <input type="file" class="form-control bg-dark text-light" id="id_files"
               name="files"
               multiple>
        <div class="form-text">{{ form.files.help_text }}</div>
      </div>
      <button type="submit"
              class="btn btn-primary">{% translate "Send" %}</button>
    </form>
  </div>{% endblock %}